In [21]:
# Import Libraries and Dependencies
import pandas as pd
from pathlib import Path

### 1. Combine and Clean the Data
#### Import CSVs

In [22]:
# Read the CSV files into DataFrames.
# Import data
asa_path_2020 = Path('Resources/athletic_sales_2020.csv')
asa_path_2021 = Path('Resources/athletic_sales_2021.csv')

In [23]:
# Read in data 
asa_2020_data = pd.read_csv(asa_path_2020)
asa_2021_data = pd.read_csv(asa_path_2021)

In [24]:
# Display the 2020 sales DataFrame
asa_2020_data.head()

,retailer,retailer_id,invoice_date,region,state,city,product,price_per_unit,units_sold,total_sales,operating_profit,sales_method
0,Foot Locker,1185732,1/1/20,Northeast,New York,New York,Men's Street Footwear,50,1200,600000,300000.00,In-store
1,Foot Locker,1185732,1/1/20,Northeast,Pennsylvania,Philadelphia,Women's Apparel,68,83,5644,2426.92,Online
2,Foot Locker,1185732,1/1/20,Northeast,Pennsylvania,Philadelphia,Women's Apparel,75,275,206250,61875.00,Outlet
3,Foot Locker,1185732,1/1/20,Northeast,New York,New York,Men's Street Footwear,34,384,13056,6789.12,Outlet
4,Foot Locker,1185732,1/1/20,Northeast,Pennsylvania,Philadelphia,Women's Apparel,53,83,4399,1407.68,Outlet

In [25]:
# Display the 2021 sales DataFrame
asa_2021_data.head()

,retailer,retailer_id,invoice_date,region,state,city,product,price_per_unit,units_sold,total_sales,operating_profit,sales_method
0,West Gear,1128299,1/1/21,West,California,San Francisco,Men's Athletic Footwear,65,750,487500,121875.00,Outlet
1,West Gear,1128299,1/1/21,West,California,San Francisco,Men's Athletic Footwear,51,233,11883,3208.41,Outlet
2,Kohl's,1189833,1/1/21,Midwest,Montana,Billings,Men's Apparel,50,275,137500,82500.00,Outlet
3,Kohl's,1189833,1/1/21,Midwest,Montana,Billings,Men's Apparel,47,77,3619,2714.25,Online
4,West Gear,1128299,1/1/21,West,California,San Francisco,Men's Athletic Footwear,64,225,14400,5184.00,Online

#### Check the data types of each DataFrame

In [26]:
# Check the 2020 sales data types.
asa_2020_data.dtypes()

TypeError: 'Series' object is not callable

In [17]:
# Check the 2021 sales data types.
asa_2021_data.dtypes()

retailer             object
retailer_id           int64
invoice_date         object
region               object
state                object
city                 object
product              object
price_per_unit        int64
units_sold            int64
total_sales           int64
operating_profit    float64
sales_method         object
dtype: object

#### Combine the sales data by rows.

In [22]:
# Combine the 2020 and 2021 sales DataFrames on the rows and reset the index.
combined_asa_rows = pd.concat([asa_2020_data, asa_2021_data], axis="rows", join="inner")
combined_asa_rows
#combined_asa_data = as_2020_df.join(
#   as_2021_df.set_index(["", ""]),
#    on=["", ""],
#    how="inner",
#    lsuffix="_2020",
#    rsuffix="_2021")

,retailer,retailer_id,invoice_date,region,state,city,product,price_per_unit,units_sold,total_sales,operating_profit,sales_method
0,Foot Locker,1185732,1/1/20,Northeast,New York,New York,Men's Street Footwear,50,1200,600000,300000.00,In-store
1,Foot Locker,1185732,1/1/20,Northeast,Pennsylvania,Philadelphia,Women's Apparel,68,83,5644,2426.92,Online
2,Foot Locker,1185732,1/1/20,Northeast,Pennsylvania,Philadelphia,Women's Apparel,75,275,206250,61875.00,Outlet
3,Foot Locker,1185732,1/1/20,Northeast,New York,New York,Men's Street Footwear,34,384,13056,6789.12,Outlet
4,Foot Locker,1185732,1/1/20,Northeast,Pennsylvania,Philadelphia,Women's Apparel,53,83,4399,1407.68,Outlet
...,...,...,...,...,...,...,...,...,...,...,...,...
8341,Foot Locker,1185732,12/31/21,Northeast,Pennsylvania,Philadelphia,Men's Apparel,63,47,2961,1362.06,Online
8342,Foot Locker,1185732,12/31/21,Northeast,Pennsylvania,Philadelphia,Men's Apparel,46,56,2576,1004.64,Outlet
8343,Amazon,1185732,12/31/21,Northeast,Maine,Portland,Men's Apparel,52,36,1872,692.64,Online
8344,Amazon,1185732,12/31/21,Northeast,Maine,Portland,Men's Apparel,55,125,68750,17187.50,Outlet
8345,Foot Locker,1185732,12/31/21,Northeast,Pennsylvania,Philadelphia,Men's Apparel,70,175,122500,42875.00,Outlet

In [24]:
# Check if any values are null.
combined_asa_rows_null = combined_asa_rows.isnull()
print(combined_asa_rows_null)

      retailer  retailer_id  invoice_date  region  state   city  product  \
0        False        False         False   False  False  False    False
1        False        False         False   False  False  False    False
2        False        False         False   False  False  False    False
3        False        False         False   False  False  False    False
4        False        False         False   False  False  False    False
...        ...          ...           ...     ...    ...    ...      ...
8341     False        False         False   False  False  False    False
8342     False        False         False   False  False  False    False
8343     False        False         False   False  False  False    False
8344     False        False         False   False  False  False    False
8345     False        False         False   False  False  False    False

      price_per_unit  units_sold  total_sales  operating_profit  sales_method
0              False       False        False             False         False
1              False       False        False             False         False
2              False       False        False             False         False
3              False       False        False             False         False
4              False       False        False             False         False
...              ...         ...          ...               ...           ...
8341           False       False        False             False         False
8342           False       False        False             False         False
8343           False       False        False             False         False
8344           False       False        False             False         False
8345           False       False        False             False         False

[9643 rows x 12 columns]

In [28]:
# Check the data type of each column.
combined_asa_rows.column.dtypes()

AttributeError: 'DataFrame' object has no attribute 'column'

In [10]:
# Convert the "invoice_date" to a datetime datatype
# pd.to_datetime(combined_asa_rows["invoice_date"])
combined_asa_rows_null = pd.to_datetime(combined_asa_rows['invoice_date'])

In [11]:
# Confirm that the "invoice_date" data type has been changed.
combined_asa_rows_null.loc[:, 'invoice_date'].head()

### 2. Determine which Region Sold the Most Products

#### Using `groupby`

In [12]:
# Show the number products sold for region, state, and city.
# Rename the sum to "Total_Products_Sold".
tps = combined_asa_rows_null.loc[df['region'].sum, df['state'].sum, df['city'].sum]


# Show the top 5 results.
tps.head()

#### Using `pivot_table`

In [13]:
# Show the number products sold for region, state, and city.


# Rename the "units_sold" column to "Total_Products_Sold"


# Show the top 5 results.

### 3. Determine which Region had the Most Sales

#### Using `groupby`

In [14]:
# Show the total sales for the products sold for each region, state, and city.
# Rename the "total_sales" column to "Total Sales"


# Show the top 5 results.

#### Using `pivot_table`

In [15]:
# Show the total sales for the products sold for each region, state, and city.


# Optional: Rename the "total_sales" column to "Total Sales"


# Show the top 5 results.

### 4. Determine which Retailer had the Most Sales

#### Using `groupby`

In [16]:
# Show the total sales for the products sold for each retailer, region, state, and city.
# Rename the "total_sales" column to "Total Sales"

# Show the top 5 results.

#### Using `pivot_table`

In [17]:
# Show the total sales for the products sold for each retailer, region, state, and city.


# Optional: Rename the "total_sales" column to "Total Sales"


# Show the top 5 results.

### 5. Determine which Retailer Sold the Most Women's Athletic Footwear

In [18]:
# Filter the sales data to get the women's athletic footwear sales data.

#### Using `groupby`

In [19]:
# Show the total number of women's athletic footwear sold for each retailer, region, state, and city.
# Rename the "units_sold" column to "Womens_Footwear_Units_Sold"

# Show the top 5 results.

#### Using `pivot_table`

In [20]:
# Show the total number of women's athletic footwear sold for each retailer, region, state, and city.


# Rename the "units_sold" column to "Womens_Footwear_Units_Sold"

# Show the top 5 results.

### 5. Determine the Day with the Most Women's Athletic Footwear Sales

In [21]:
# Create a pivot table with the 'invoice_date' column is the index, and the "total_sales" as the values.


# Optional: Rename the "total_sales" column to "Total Sales"


# Show the table.

In [22]:
# Resample the pivot table into daily bins, and get the total sales for each day.


# Sort the resampled pivot table in ascending order on "Total Sales".

### 6.  Determine the Week with the Most Women's Athletic Footwear Sales

In [23]:
# Resample the pivot table into weekly bins, and get the total sales for each week.


# Sort the resampled pivot table in ascending order on "Total Sales".